.table-box {
    width: 100%;
    height: 100%;
}

.search {
  width: 100%;
  margin-bottom: 15px;
}
.table {
  width: 100%;
  height: 87%;
  overflow: hidden;
}


.pagination-operator {
  padding-top: 15px;
  height: 3%;
}
